/*--  Common Styles  --*/
body{
    color: $grey_text;
    background-color: $screen_bg !important;
    font-family: $roboto_medium;
    line-height: 14px;
    font-size: 14px !important;
    letter-spacing: 0.5px;
}
*{
    outline: none !important;
    text-decoration: none !important;
    &:focus{
        outline: none !important;
        text-decoration: none !important;
    }
}
.pad-0{
    padding: 0 !important;
}
.pr-0{
    padding-right: 0;
}
.pl-0{
    padding-left: 0;
}
.mar-0{
    margin: 0 !important;
}
.mr-0{
    margin-right: 0;
}
.ml-0{
    margin-left: 0;
}
.mb-20{
    margin-bottom: 20px;
}
.border-none{
    border: 0 !important;
}
.rating{
    display: inline-block;
    ul{
        margin: 0; 
        li{
            padding: 0;
            font-size: 18px;
            color: $light_grey;
            &.selected{
                color: $light_blue;
            }
        }
    }
}
.btn-grey{
    color: $light_blue;
    padding: 5px 15px;
    font-size: 11px;
    font-family: $roboto_medium;
    text-transform: uppercase;
    background-color: $grey;
    @include border-radius(20px);
    @include transition(0.3s all ease-in-out);
    &:hover, &:focus{
        color: $light_blue;
        outline: none;
    }
}

.icon-list{
    margin: 0;
    display: inline-block;
    li{
        a{
            color: $grey_bg;
            padding: 2px;
            display: inline-block;
            font-size: 18px;
            text-align: center;
            line-height: 27px;
            background-color: $light_grey;
            @include circle(30px);
        }
    }
}

/*--  Custom Radio Styles  --*/
.custom-radio{
    margin-bottom: 5px;
    label{
        &.radio-inline{
            input[type="radio"]{
                display:none;
                &:checked {
                    +  span{
                        background-color: $white;
                        border          : 1px solid $black;
                        padding         : 3px;
                        @include border-radius(0);
                        @include transition(all 0.3s ease-in-out);
                        i{
                            opacity: 1;
                        }
                    }
                }
                + span{
                    background-color: $white;
                    border          : 1px solid $custom-check-border;
                    cursor          : pointer;
                    display         : inline-block;
                    height          : 18px;
                    line-height     : 14px;
                    margin          : -1px 10px 0 0;
                    padding         : 3px;  
                    position        : relative;
                    text-align      : center;
                    vertical-align  : middle;
                    width           : 18px;
                    margin-right    : 10px;
                    @include border-radius(0);
                    @include transition(all 0.3s ease-in-out);
                    i{
                        color      : $black;
                        display    : block;
                        font-size  : 10px;
                        font-weight: 400;
                        left       : -1px;
                        margin     : -4px auto;
                        opacity    : 0;
                        overflow   : visible;
                        position   : relative;
                        top        : 2px;
                        width      : 10px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }
            }
        }
    }
    .radio-inline{
        padding-left: 0;
    }
} 

/* custom-file upload */
.custom-file-upload{
    cursor: pointer;
    input[type="file"]{
        display:none;
    }
    label{
        cursor: pointer;
        &.file-inline{
            margin-bottom: 0;
            span{
                display    : block;
            }
        }
    }
    .checkbox-inline{
        padding-left: 0;
    }
} 

/* MANAGEMENT HEADER */
.management-header{
    width: 100%;
    .content-wrapper-pills{
        margin: 0;
        padding: 0;
        > li{
            display   : inline-block;
            padding   : 4px 28px;
            text-align: center;
            &.active{
                a{
                    color: $tab-active-color;
                    background-color: transparent;
                    &:after{
                        background-color: $tab-border-after;  
                    }
                }
            }
            a{
                padding         : 0;
                margin          : 0;
                color           : $total-users-text;
                position        : relative;
                display         : inline-block;
                text-align      : center;
                @include transition(all 0.3s ease-in-out);
                &:hover,&:active,&:focus{
                    color           : $tab-active-color;
                    background-color: transparent;
                    text-decoration : none;
                }
                &:after{
                    width           : 100%;
                    height          : 7px;
                    margin          : 0 auto;
                    content         : "";
                    display         : block;
                    margin-top      : 6px;
                    background-color: transparent;
                    @include transition(background-color 0.3s ease-in-out); 
                    @include border-radius(0px);
                }
                > i {
                    display: inline-block;
                }
            }
        }
    }
}


/*   activiti sub header   */
.activiti-subheader-wrapper{
    color: $white;
    font-weight: 600;
    background-color: $subhead-bg;
    .container-fluid{
        > *{
            display: inline-block;
            float: left;
            &.task-subheader{
                padding: 15px 0;
                border-right: 1px solid $subheader-border;
                padding-right: 30px;
                h4{
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 18px;
                    letter-spacing: 1px;
                    line-height: 20px;
                }
                h6{
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 14px;
                    line-height: 14px;
                    font-family: $roboto_regular;
                }
            }
            &.task-subheader-content{
                margin-left: 30px;
                > ul{
                    margin: 0;
                    > li {
                        &.active{
                            a{
                                &:after{
                                    opacity: 1;
                                }
                            }
                        }
                        > a{
                            position: relative;
                            padding: 25px 30px 25px 38px;
                            font-family: $roboto_regular;
                            display: block;
                            font-size: 14px;
                            > i{
                                position: absolute;
                                left: 0;
                                top: 18px;
                                font-size: 26px;
                                color: $activiti-task-list;
                            }
                            > span{
                                color: $activiti-task-list;
                            }
                            &:after{
                                position: absolute;
                                left: 50%;
                                transform: translate(-50%);
                                bottom: -11px;
                                content: "\f0d8";
                                color: $activiti-sub-list;
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                font-size: 32px;
                                z-index: 1;
                                opacity: 0;
                                @include transition(all 0.3s ease-in-out);
                            }
                        }
                    }
                }
            }
        }
    }
}

/*   activiti super sub header   */
.activiti-supersubheader-wrapper{
    background-color: $activiti-sub-list;
    .container-fluid{
        .activiti-supersubheader-content{
            ul{
                margin: 0;
                > li{
                    padding: 0;
                    &.active{
                        a{
                            > span{
                                color: $white;
                            }
                            > small{
                                background-color: #ca608e;
                                color: #e5bcce;
                            }
                        }
                    }
                    &:first-child{
                        a{
                            padding-left: 0;
                        }
                    }
                    a{
                        padding: 12px 45px;
                        display: block;
                        font-size: 12px;
                        font-family: $roboto-regular;
                        position: relative;
                        span{
                            color : $activiti-supersubheader;
                        }
                        small{
                            position: absolute;
                            right: 14px;
                            top: 7px;
                            background-color: #4d7a9e;
                            height: 25px;
                            color: #8eb3cf;
                            width: 25px;
                            line-height: 25px;
                            text-align: center;
                            @include border-radius(50%);
                        }
                    }
                }
            }
        }
    }
}

/*--  Media Styles  --*/
@media(max-width: 500px){
    .hidden-500{
        display: none !important;
    }
}