.datasource-details-wrapper{
    .total-users-wrapper{
        padding: 15px;
        background-color: $total-users-bg;
        border-bottom: 1px solid $total-users-border;
        > ul{
            margin: 0;
            li{
                &:not(:last-child){
                    padding-right: 25px;
                }
                > div{
                    color: $total-users-text;
                    p{
                        font-size: 14px;
                        &.graph{
                            font-size: 11px;
                        }
                    }
                    span{
                        font-size: 36px;
                        line-height: 36px;
                    }
                }
            }
        }
    }
    .usermanagement-data{
        padding: 30px 15px;
        .management-header{
            >.content-wrapper-pills{
                border-bottom: 1px solid $tab-border-color;
                > li{
                    &:first-child{
                        padding-left: 0;
                    }
                    a{
                        position: relative;
                        font-size: 18px;
                        padding: 10px 0;
                        padding-left: 25px;
                        display: block;
                        &:after{
                            position: absolute;
                            left: 0;
                            bottom: -8px;
                        }
                        i{
                            position: absolute;
                            left: 0;
                            font-size: 20px;
                            top: 6px;
                        }
                    }
                }
            }
        }
        .management-body{
            .data-table-wrapper{
                .management-data{
                    margin-top: 60px;
                    position: relative;
                    .data-table-accessories{
                        > div{
                            display: inline-block;
                            &.organisation{
                                position: absolute;
                                top: -36px;
                                left: 0;
                                font-size: 12px;
                                .organisation-data{
                                    margin-right: 40px;
                                }
                                .key-text{
                                    color: $key-text;
                                }
                                .value-text{
                                    color: $tab-active-color;
                                }
                            }
                            &.new-user-content{
                                position: absolute;
                                top: -45px;
                                right: 0;
                                > a{
                                    color: $add-button;
                                    font-size: 12px;
                                    background-color: $navbar-icons;
                                    padding: 8px 12px;
                                    display: inline-block;
                                    &:not(:last-child){
                                        margin-right: 20px;
                                    }
                                    &:hover,&:focus{
                                        text-decoration: none;
                                    }
                                }
                            }
                            > div{
                                display: inline-block;
                            }
                        }
                    }
                    #DataTables_Table_0_filter{
                        position: absolute;
                        right: 300px;
                        top: -40px;
                    }
                    table{
                        thead{
                            tr{
                                th{
                                    padding: 9px 18px;
                                    border-bottom: 0;
                                    font-weight: normal;
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    padding: 13px 18px;
                                    border-bottom: 0;
                                }
                            }
                        }
                    }
                    .database-types-wrapper{
                        .data-base-types{
                            background-color: $slate_1;
                            padding: 20px 15px;
                            margin-bottom: 20px;
                            h3{
                                color: $datatype-head;
                                margin: 0 0 10px;
                                font-size: 21px;
                                font-family: $francoisone-regular;
                            }
                            p{
                                color: $datatype-color;
                                margin: 0;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
}