.droolswb-details-wrapper{
    .total-users-wrapper{
        padding: 15px;
        background-color: $total-users-bg;
        border-bottom: 1px solid $total-users-border;
        > ul{
            margin: 0;
            li{
                &:not(:last-child){
                    padding-right: 25px;
                }
                > div{
                    color: $total-users-text;
                    p{
                        font-size: 14px;
                    }
                    span{
                        font-size: 36px;
                        line-height: 36px;
                    }
                }
            }
        }
    }
    .drools-types-wrapper{
        padding: 30px 15px;
        .drools-types{
            background-color: $slate_1;
            padding: 20px 15px;
            margin-bottom: 20px;
            min-height: 140px;
            display: block;
            h3{
                color: $datatype-head;
                margin: 0 0 30px;
                font-size: 18px;
            }
            p{
                color: $datatype-color;
                margin: 0;
                font-size: 11px;
                /*font-weight: bold;*/
            }
        }
    }
}