.navbar-wrapper{
    border: 0;
    margin: 0;
    min-height: inital;
    background-color: $header_bg ;
    .navbar-brand{
        height: 60px;
        padding: 16px 15px;
        max-width: 150px;
    }
    .navbar-toggle{
        border-color: $subheader-bg;
        background-color: transparent;
        &:hover, &:focus{
            background-color: transparent;
        }
        .icon-bar{
            background-color: $subheader-bg;
        }
    }   
    .navbar-form{
        margin-top: 10px;
        margin-bottom: 10px;
        .form-group{
            position: relative;
        }
        .fa{
            bottom: 6px;
            color: $advanced-search-icons;
            position: absolute;
            &.fa-search{
                left: 0; 
                font-size: 20px;
                @include rotate(90deg);
            }
            &.fa-chevron-down{ 
                right: 0;
                font-size: 20px;
                line-height: 15px; 
            }
        }
        input{
            color: #ccc;
            border: 0;
            height: 30px;
            padding: 5px 25px;
            min-width: 240px;
            background: transparent;
            border-bottom: 1px solid $advanced-search-border;
            @include border-radius(0);
            @include box-shadow(none);
            &:focus{
                @include box-shadow(none);
            }
        }
        .btn{
            color: $advanced-search;
            font-size: 11px;
            outline: none;
            padding: 0;  
            font-weight: 400;
            margin-left: 20px;
            vertical-align: bottom;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    .navbar-nav{
        >li{
            >a{
                color: $navbar-text;
                padding: 20px 20px 20px 22px;
                font-weight: 400;
                font-size: 12px;
                text-transform: uppercase;
                background-color: transparent;
                position: relative;
                @include transition(0.3s all ease-in-out);
                &:hover{
                    color: $navbar-icons;
                }
                &:focus{
                    color: $navbar-text;
                }
                .fa{
                    position: absolute;
                    top: 20px;
                    left: 0;
                    color: $navbar-icons;
                    font-size: 18px;
                    display: inline-block;
                    margin-right: 5px;
                }
            }
            &.active{
                >a{
                    background-color: transparent;      
                }
            }
            &.profile{
                a{
                    padding: 16px 62px 16px 16px;
                    position: relative;
                }
                span{
                    display: block;
                    font-weight: 600;
                    line-height: 14px;
                    &:first-of-type{
                        color: $blue;
                        text-align: right;
                    }
                    &:last-of-type{
                        color: $slate_3;
                        font-size: 11px;
                        text-transform: none;
                    }
                }
                img{
                    position: absolute;
                    max-width: 46px;
                    right: 10px;
                    top: 8px;
                }
            }
        }
    }
}

.subheader-wrapper{
    color: $white;
    padding: 15px 0;
    font-weight: 600;
    background-color: $subhead-bg;
    h4{
        text-transform: uppercase;
        margin: 0;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    h6{
        text-transform: uppercase;
        margin: 0;
        font-size: 14px;
        color: $subheader-h6;
        line-height: 16px;
        &.deep-rule-text{
            color: $white;
            line-height: 14px;
            font-size: 13px;
            font-family: $roboto_regular;
        }
    }
    a{
        color: $white;
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: sans-serif;
    }
    span{
        display: inline-block;
        font-size: 14px;
        min-width: 6px;
        text-align: center;
    }
}

/*--  Media Styles  --*/
@media(min-width: 992px) and (max-width: 1199px){
    .navbar-wrapper{
        font-size: 12px;
        .navbar-form{
            input{
                min-width: 200px;
            }
            .btn{
                margin-left: 10px;
            }
        }
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .navbar-wrapper{
        .navbar-right{
            float: none !important;
            display: inline-block;
            > li{
                &.profile{
                    top: 4px;
                    right: 0;
                    position: absolute;
                }
            }
        }
    }
}

@media(min-width: 320px) and (max-width: 767px){
    .navbar-wrapper{
        .navbar-form{
            top: -9px;
            left: 155px;
            right: 70px;
            border: 0;
            position: absolute;
            @include box-shadow(none);
            input{
                min-width: initial;  
            }
            .form-group{
                display: inline-block;
            }
        }
        .navbar-collapse{
            border-color: $subheader_bg;
        }
    }
}