.project-authoring-wrapper{
    position: relative;
    .total-users-wrapper{
        padding: 15px;
        background-color: $totaluser_bg;
        border-bottom: 1px solid $grey_1;
        > ul{
            margin-bottom: 0;
            li{
                &:not(:last-child){
                    padding-right: 50px;
                }
                > div{
                    p{
                        font-weight: bold;
                    }
                    span{
                        font-size: 35px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
    .authoring-header-wrapper{
        padding: 15px 15px 0;
        .authoring-header-content{
            padding-bottom: 9px;
            border-bottom: 1px solid $timeline-border;
            > a{
                display: inline-block;
                position: relative;
                padding: 0 15px 0 24px;
                color: $blue_5;
                > i{
                    font-size: 22px;
                    position: absolute;
                    top: 0px;
                    left: 0;
                }
                > span{
                    font-size: 18px;
                    font-weight: bold;
                }
                > small{
                    color: $grey_12;
                    position: absolute;
                    right: 0;
                    top: -2px;
                    font-size: 28px;
                    line-height: 14px;
                }
            }
            > .authoring-tabs{
                display: inline-block;
                .management-header{
                    ul{
                        li{
                            padding: 4px 10px;
                            a{
                                font-size: 14px;
                                font-weight: bold;
                                position: relative;
                                &:after{
                                    position: absolute;
                                    bottom: -19px;
                                }
                            }
                        }
                    }
                }
            }
            > .authoring-search-wrapper{
                display: inline-block;
                float: right;
                .timeline-search{
                    width: 250px;
                    .form-group{
                        position: relative;
                        margin-bottom: 0;
                    }
                    .fa{
                        bottom: 6px;
                        color: $blue;
                        position: absolute;
                        &.fa-search{
                            right: 0; 
                            font-size: 20px;
                            color: $slate_3;
                            @include rotate(90deg);
                        }
                        &.fa-angle-down{ 
                            right: 0;
                            font-size: 30px;
                            line-height: 15px; 
                        }
                    }
                    input{
                        color: #ccc;
                        border: 0;
                        height: 30px;
                        padding: 10px 25px 10px 3px;
                        min-width: 240px;
                        background: transparent;
                        border-bottom: 1px solid $slate_2;
                        @include border-radius(0);
                        @include box-shadow(none);
                        &:focus{
                            @include box-shadow(none);
                        }
                    }
                    .btn{
                        color: $dark_grey;
                        outline: none;
                        padding: 0;  
                        font-weight: 600;
                        margin-left: 20px;
                        vertical-align: bottom;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .user-selectionlist-wrapper{
        padding: 0px 15px;
        .user-selection{
            border-bottom: 1px solid $grey_1;
            padding: 10px 0;
            .selection-list{
                margin: 0;
                display: inline-block;
                > li{
                    padding: 0 15px 0 0;
                    > a{
                        position: relative;
                        color: $grey_7;
                        font-size: 12px;
                        font-weight: bold;
                        display: block;
                        padding-right: 20px;
                        i{
                            color: $angle-fa;
                            position: absolute;
                            font-size: 18px;
                            top: 2px;
                            line-height: 14px;
                            right: 3px
                        }
                        + ul{
                            top: 28px;
                            border-radius: 0;
                            margin: 0;
                            border: 0;
                            padding: 0;
                            background-color: $modal-bg-color;
                            > li{
                                > a{
                                    color: $grey_7;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .authoring-body-wrapper{
        padding: 0 15px;
        > .authoring-body-row{
            > div {
                &.project-explorer-column{
                    .project-explorer-wrapper{
                        .project-explorer-header{
                            position: relative;
                            border-bottom: 1px solid $timeline-border;
                            h5{
                                font-size: 14px;
                                font-weight: bold;
                                margin: 0;
                                padding: 12px 0;
                            }
                            > ul{
                                position: absolute;
                                right: 10px;
                                top: 7px;
                                margin-bottom: 0;
                                > li{
                                    > a{
                                        color: $arrow-alt;
                                        font-size: 18px;
                                        &:hover,&:focus{
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                        .project-explorer-body{
                            .explorer-breadcrumb{
                                padding: 10px 0;
                                display: inline-block;
                                border-bottom: 1px dashed $blue_5;
                                > a{
                                    color: $blue_5;
                                    display: inline-block;
                                    font-weight: bold;
                                    font-size: 12px;
                                    &:hover,&:focus{
                                        text-decoration: none;
                                    }
                                }
                            }
                            .explorer-breadcrumb-default{
                                padding: 10px 0;
                                > a{
                                    color: $angle-fa;
                                    display: inline-block;
                                    font-weight: bold;
                                    font-size: 11px;
                                    &:hover,&:focus{
                                        text-decoration: none;
                                    }
                                    &:last-child{
                                        color: $blue_5;
                                        padding-right: 10px;
                                    }
                                }
                            }
                            .explorer-work-accordian{
                                .sidebar-menu{
                                    > li{
                                        margin-bottom: 15px;
                                        &.active{
                                            > .toggle{
                                                > .right-icon{
                                                    i{
                                                        &:before{
                                                            content: "\f068";
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        > .toggle{
                                            display: block;
                                            padding: 7px 10px 7px 15px;
                                            background-color: $toggle-bg;
                                            font-size: 13px;
                                            color: $blue_5;
                                            font-weight: bold;
                                            position: relative;
                                            > .right-icon{
                                                position: absolute;
                                                right: 10px;
                                                top: 7px;
                                                i{
                                                    font-size: 20px;
                                                    color: $angle-fa;
                                                }
                                            }
                                            + ul{
                                                display: none;
                                                border-radius: 0;
                                                margin: 0;
                                                border: 0;
                                                padding: 0;
                                                background-color: #344d5A;
                                                > li{
                                                    > a{
                                                        color: $angle-fa;
                                                        vertical-align: middle;
                                                        font-size: 12px;
                                                        display: block;
                                                        font-weight: bold;
                                                        padding: 8px 10px;
                                                        @include transition(all 0.3s ease-in-out);
                                                        i{
                                                            margin: 0px 10px;
                                                        }
                                                    }
                                                }
                                            }
                                        }  
                                    }
                                }
                            }
                        }
                    }
                }
                &.decision-table-column{
                    border-left: 1px solid $timeline-border;
                    .decision-table-wrapper{
                        > .decision-table-xls{
                            .decision-table-header{
                                padding: 0 0 0 15px;
                                border-bottom: 1px solid $timeline-border;
                                position: relative;
                                > *{
                                    display: inline-block;
                                }
                                .decision-table-header-tag{
                                    h5{
                                        font-size: 14px;
                                        font-weight: bold;
                                        margin: 0;
                                        padding: 12px 0;
                                        display: block;
                                        position: relative;
                                        padding-right: 20px;
                                        i{
                                            color: $angle-fa;
                                            position: absolute;
                                            font-size: 18px;
                                            top: 13px;
                                            line-height: 14px;
                                            right: 3px
                                        }
                                        + ul{
                                            border-radius: 0;
                                            margin: 0;
                                            border: 0;
                                            padding: 0;
                                            background-color: $modal-bg-color;
                                            > li{
                                                > a{
                                                    color: $grey_7;
                                                }
                                            }
                                        }

                                    }
                                }
                                .decision-table-header-label{
                                    position: absolute;
                                    right: 100px;
                                    top: 10px;
                                    > ul{
                                        margin: 0;
                                        >li{
                                            a{
                                                background-color: $label-bg;
                                                padding: 1px 10px;
                                                font-size: 10px;
                                                border-radius: 15px;
                                                vertical-align: middle;
                                                display: block;
                                                color: $label-clr;
                                                font-weight: bold;
                                                &:focus, &:hover{
                                                    text-decoration: none;

                                                }
                                            }
                                        }
                                    }
                                }
                                .decision-table-header-icons{
                                    position: absolute;
                                    top: 5px;
                                    right: 20px;
                                    > ul{
                                        margin: 0;
                                        > li{
                                            a{
                                                color: $arrow-alt;
                                                font-size: 21px;
                                                &:hover,&:focus{
                                                    text-decoration: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .decision-table-body{
                                height: 270px;
                            }
                        }
                        > .message-table-wrapper{
                            .message-table-header{
                                padding: 0 0 0 15px;
                                border-top: 1px solid $timeline-border;
                                border-bottom: 1px solid $timeline-border;
                                position: relative;
                                > *{
                                    display: inline-block;
                                }
                                .message-table-header-tag{
                                    h5{
                                        font-size: 14px;
                                        font-weight: bold;
                                        margin: 0;
                                        padding: 12px 0;
                                        display: block;
                                        padding-right: 20px;
                                    }
                                }
                                .message-table-header-label{
                                    position: absolute;
                                    right: 120px;
                                    top: 10px;
                                    > ul{
                                        margin: 0;
                                        >li{
                                            a{
                                                background-color: $label-bg;
                                                padding: 1px 10px;
                                                font-size: 10px;
                                                border-radius: 15px;
                                                vertical-align: middle;
                                                display: block;
                                                color: $label-clr;
                                                font-weight: bold;
                                                &:focus, &:hover{
                                                    text-decoration: none;

                                                }
                                            }
                                        }
                                    }
                                }
                                .message-table-header-icons{
                                    position: absolute;
                                    top: 5px;
                                    right: 20px;
                                    > ul{
                                        margin: 0;
                                        > li{
                                            a{
                                                color: $arrow-alt;
                                                font-size: 21px;
                                                &:hover,&:focus{
                                                    text-decoration: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .message-table-body{
                                height: 270px;
                                .message-body-content{
                                    margin: 15px;
                                    border: 1px solid $timeline-border;
                                    font-size: 11px;
                                    font-weight: bold;
                                    .table-column{
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                    }
                                    .table-header{
                                        background-color: $label-bg;
                                        padding: 7px 0;
                                    }
                                    .table-body{
                                        padding: 15px 0px;
                                        i{
                                            font-size: 20px;
                                            color: $label-bg;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .rightsidebar{
        position: fixed;
        background-color: $rightsidebar;
        position: fixed;
        margin-right: -265px;
        top: 250px;
        right: 0;
        width: 300px;
        height: 400px;
        @include transition(all 0.5s ease);
        &.rightsidebar-open{
            margin-right: 0;
            .sidebar-content{
                .sidebar-header{
                    a{
                        i{
                            transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                        }
                    }
                }
            }
        }
        .sidebar-content{
            .sidebar-header{
                height: 39px;
                background-color: $sidebar-header;
                a{
                    display: inline-block;
                    padding: 7px 12px;
                    i{
                        color: $header-icon;
                        font-size: 24px;
                        @include transition(all 0.5s ease);
                    }
                }
            }
            .sidebar-body{
                > ul{
                    margin: 0;
                    > li{
                        > a{
                            padding: 15px 8px;
                            display: inline-block;
                            i{
                                color: $blue_5;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}